.fl-item {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .fl-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px; /* make the line thicker */
    width: 100%;
    background: linear-gradient(90deg, #FF1E00, #C0C0C0, #1C1C1E); /* rainbow gradient */
    background-size: 200% auto;
    transition: all .5s;
    transform: translateX(-100%);
  }
  
  .fl-item:hover::after {
    transform: translateX(0%);
    animation: gradient-89 3s linear infinite;
  }
  
  @keyframes gradient-89 {
    0% { background-position: 100% 0%; }
    50% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }